@keyframes changeBackgroundHeaderColor {
  00%{
    background-color: #673AB7;
    border-color: #512DA8;
  }
  20%{
    background-color: #3F51B5;
    border-color: #303F9F;
  }
  40%{
    background-color: #2196F3;
    border-color: #1976D2;
  }
  60%{
    background-color: #4CAF50;
    border-color: #388E3C;
  }
  80%{
    background-color: #FF5722;
    border-color: #E64A19;
  }
  100%{
    background-color: #F44336;
    border-color: #D32F2F;
  }
}
@keyframes shrink{
  0%{
    box-shadow: -1px 10px 42px -15px rgba(0, 0, 0, 0.75);
  }
  10%{
    @include scale(1);
  }
  40%{
    @include scale(0.5);
  }
  100%{
    -webkit-transform: translateX(-100%) scale(0.5);
    -moz-transform: translateX(-100%) scale(0.5);
    -ms-transform: translateX(-100%) scale(0.5);
    -o-transform: translateX(-100%) scale(0.5);
    transform: translateX(-100%) scale(0.5);
  }
}
@keyframes grow{
  0%{
    @include scale(0);
    opacity: 0;
  }
  10%{
    @include scale(0.1);
    opacity:1;
  }
  100%{
    @include scale(1);
  }
}
@keyframes smoothLoad{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes smoothClose{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes pulse{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes changeShadows{
  0%{
    box-shadow: 0 0 0 rgba(50,50,50,0.5);
  }
  50%{
    box-shadow: 0 0 1.5rem rgba(50,50,50,0.5);
  }
  100%{
    box-shadow: 0 0 0 rgba(50,50,50,0.5);
  }
}
@keyframes listOpen{
  0%{
    opacity: 0;
    @include translateY(0);
  }
  100%{
    opacity: 1;
    @include translateY(5px);
  }
}
@keyframes listOpenSimple{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes modalOpen{
  0%{
    opacity: 0;
    @include translate(-50%,-50%);
  }
  100%{
    opacity: 1;
    @include translate(-50%, calc(-50% + 5px));
  }
}

@keyframes modalClose{
  0%{
    opacity: 1;
    @include translate(-50%, calc(-50% + 5px));
  }
  100%{
    opacity: 0;
    @include translate(-50%,-50%);
  }
}
@keyframes showSection{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@mixin changeShadows(){
  -webkit-animation: changeShadows 10s linear 1s infinite;
  -moz-animation: changeShadows 10s linear 1s infinite;
  -o-animation: changeShadows 10s linear 1s infinite;
  animation: changeShadows 10s linear 1s infinite;
}

.shrink{
  -webkit-animation: shrink 1.5s ease 0s;
  animation: shrink 1.5s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.grow{
  -webkit-animation: grow 1s ease 0s;
  animation: grow 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.smoothLoad{
  -webkit-animation: smoothLoad 1s ease 0s;
  animation: smoothLoad 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.showSection{
  -webkit-animation: showSection 1s ease 0s;
  -moz-animation: showSection 1s ease 0s;
  animation: showSection 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.listOpen{
  display: block !important;
  -webkit-animation: listOpen .3s;
  -moz-animation: listOpen .3s;
  animation: listOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.listOpenSimple{
  display: block !important;
  -webkit-animation: listOpenSimple .3s;
  -moz-animation: listOpenSimple .3s;
  animation: listOpenSimple .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modalOpen{
  -webkit-animation: modalOpen .3s;
  -moz-animation: modalOpen .3s;
  animation: modalOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modalClose{
  -webkit-animation: modalClose .3s;
  -moz-animation: modalClose .3s;
  animation: modalClose .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}