.gridView{
  position: relative;

  tbody{
    transition: .3s ease;
    cursor: pointer;

    tr{
      td::selection, td *::selection{
        color: inherit;
        background: inherit;
      }
      .actionsBtnWrap{
        text-align: center;
        padding: 8px 3px;
        width: 150px;

        .actionsBtn{
          width: 26px;
          height: 26px;
          line-height: 22px;
          text-align: center;
          display: inline-block;
          margin: 0 5px;
          border-radius: 50%;
          border: 2px solid #666;
          transition: .3s ease;
          background: #fff;
          color: #666;

          &:hover{
            background: #666;
            color: #fff;
          }
        }
      }

      &:hover{
        background: #f9f9f9 !important;
      }
    }
  }
  .action{
    visibility: hidden;
  }

  .customizeBtn{
    width: 26px;
    height: 26px;
    line-height: 22px;
    background: #fff;
    display: block;
    text-align: center;
    color: #666;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #666;
    transition: .3s ease;
    cursor: pointer;

    &:hover{
      background: #666;
      color: #fff;
    }
  }
}