.fluid-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    overflow: auto;
    display: initial;
    min-width: 300px;
    min-height: 150px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: -1px 10px 20px -15px rgba(0,0,0,0.75);
    border-radius: 0;
    background: #fff !important;
    border: .1rem solid #e7e7e7;
    border-top: .2rem solid $color1;
    outline: none;
    z-index: 1202;
    @include translate3d(-50%,-50%, 0);

    .modal-header{
        padding: .5rem;
        background: #F9FAFC;
        border-bottom: .1rem solid #e7e7e7;
        color: #000;
        position: relative;

        .modal-title{
            margin: 0;
            line-height: inherit;
            display: inline-block;
            padding-top: .3rem;
        }

        .modal-actions{
            position: relative;
            @include translateY(20%);
            float:right;
            
            .action{
                border-radius: 50%;
                display: inline-block;
                width: 15px;
                height: 15px;
                transition: .3s ease;
                cursor: pointer;
                margin: 3px 2px 0 10px;
                float: left;
            }
            
            .close, .hide{
                display: block !important;
                background: #F44336;
                opacity: 1;
                
                &:hover{
                    background: $color1;
                }
            }
            
            .minimize{
                background: #2196F3;
                
                &:hover{
                    background: #1976D2;
                }
            }
            
            .maximize{
                background: #4CAF50;
                
                &:hover{
                    background: #388E3C;
                }
            }
        }
    }
    
    .modal-content{
        padding: 1rem .5rem;
        box-shadow: none;
        outline: none;
        border: none;
        border-radius: 0;
        font-size: 14px;

        .text-center{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.3rem;
        }

        .promptValue{
            display: block;
            width: 100%;
            margin: 1rem 0;
            box-shadow: none;
            border-radius: 0;
            border: .1rem solid #ccc;
            padding: .5rem;
        }

        .promptSendButton{
            @include button();
        }
    }

    & *::selection{
        background: transparent;
        color: inherit;
    }
}

.modalAlert{
  .promptSendButton{
    margin-top: 4rem;
  }
}

.modalCloseNoAnim{
    visibility:hidden;
    opacity: 0;
}
.modal-dark{
    border: none;

    .modal-header{
        background: #333;
        color: #f4f4f4;
        border-bottom-color: #333;
    }

    .modal-preview{
        background: #444;
    }
}

.modalFMGallery{
    .modal-preview{
        position: relative;
        z-index: 2;

        img{
            max-height: 600px;
            position: relative;
            z-index: 2;
        }

        &:hover{
            .prevImageBtn, .nextImageBtn{
                opacity: 0.6;

                &:hover{
                    opacity: 0.9;
                }
            }
        }
    }

    .prevImageBtn, .nextImageBtn{
        background: #333;
        opacity: 0;
        color: #f4f4f4;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        padding: 7px 14px;
        margin: 0 0 0 10px;
        position: absolute;
        top: 50%;
        left: 0;
        transition: .3s ease;
        z-index: 3;
        @include translateY(-50%);
    }

    .nextImageBtn{
        left: auto;
        right: 0;
        margin: 0 10px 0 0;
    }
}

.modalFMAudioPlayer{
    .modal-preview{
        min-height: 120px;
        padding: 20px;
    }

    .iconWrap{
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;

        .mainIcon{
            font-size: 15px;
            color: #ccc;
            padding-right: 5px;
        }
        .trackName{
            color: #f4f4f4;
        }
    }

    .controlsBlock{
        width: 100%;
        text-align: center;
        padding: 5px 0 15px 0;

        .fa{
            display: inline-block;
            color: #f4f4f4;
            cursor: pointer;
            font-size: 20px;
            transition: .3s ease;

            &:hover{
                color: #ccc;
            }
        }

        .playPauseBtn{
            padding: 10px;
        }
    }

    .progressBarWrap{
        position: relative;
        padding: 0 10px;
        margin: 0 auto;
        height: 2px;
        background: #f4f4f4;
        display: block;
        width: 90%;

        .progressBar{
            display: block;
            position: absolute;
            top: -10px;
            left: -5px;
            background: #ccc;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}