.navigation{
  .navCaller{
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    &.active{

    }
  }
}

.backgroundView{
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
}