$border: .2rem solid $color6;

.panel{
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 .1rem .1rem rgba(50,50,50,.5);
  position: fixed;
  transition: transform .5s ease;
  min-height: 150px;
  min-width: 250px;
  z-index: 1202;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  padding: 0;

  .title{
    width: 100%;
    display: block;
    font-size: 16px;
    color: #313131;
    text-align: center;
    padding: 1rem 0 2rem 0;
    cursor: default;
  }

  .hideBtn{
    color: $color6;
    font-size: 18px;
    border-radius: 50%;
    border: .1rem solid $color6;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    transition: .2s ease;

    &:hover{
      background: $color6;
      color: #fff;
    }
  }

  .bar{
    background: #ebebeb;
    color: #555;
    padding: .5rem 1.5rem;
  }

  &.panelTop{
    border-bottom: $border;

    .hideBtn{
      &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -55%);
      }
    }
  }
  &.panelBottom{
    border-top: $border;

    .hideBtn{
      &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -45%);
      }
    }
  }
  &.panelLeft{
    border-right: $border;

    .hideBtn{
      &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-60%, -50%);
      }
    }
  }
  &.panelRight{
    border-left: $border;

    .hideBtn{
      &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-40%, -50%);
      }
    }
  }
}

#panelAccount{
  .name, .email{
    padding: .1rem 1.5rem;
    font-size: 1.2rem;
    color: #555;
    display: block;

    .index{
      color: #4cb050;
    }
  }
}