.tabbedView{
  .controls{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0;
    padding: 0 0 0 10px;

    li{
      list-style: none;
      display: inline-block;
      cursor: pointer;
      border-bottom: 2px solid #fff;
      transition: .3s ease;

      & > a{
        display: inline-block;
        padding: 5px 10px 3px 10px;
      }
      & > p, & > span{
        margin: 0;
        display: inline-block;
        padding: 5px 10px 3px 10px;
      }
      &:hover{
        border-color: #d2d6de;
      }
      &.active{
        border-color: #3c8dbc;
      }
      &::selection, &::-moz-selection{
        background: transparent;
        color: inherit;
      }
    }

    .controlBtn{
      text-decoration: none;
      color: #222;

      &.controlBtn-success{
        color: #00a65a;
      }
      &.controlBtn-warning{
        color: #f0ad4e;
      }
      &.controlBtn-error{
        color: #d9534f;
      }
      &.controlBtn-info{
        color: #337ab7;
      }
    }
  }
  .sections{
    overflow-x:auto;

    section{
      display: block;
      width: 100%;
      padding: 10px;

      .box-header{
        padding: 0 0 10px 0;
      }
      .box-footer{
        padding: 10px 0;
      }
    }
  }
}