/*
    name: Fluid Elements,
    author: Paweł Mrowiec - pawel.mrowiec.work@gmail.com,
    version: 1.0
*/

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  height: 100%;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300&subset=latin,latin-ext);
@import "_variables",
        "_others",
        "_mixins",
        "_animations",
        "_dim",
        "_loadScreen",
        "_form",
        "_list",
        "_panel",
        "_notify",
        "_table",
        "_modal",
        "_navigation",
        "_fileManager",
        "_gridView",
        "_dynamicView",
        "_tabbedView",
        "_editor";

